@import url(./common.css);

.member_info_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.member_info_page .title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .member_info_page .title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
}

.member_info_page .list {
  width: 100%;
  padding: 0 10px;
}
.member_info_page .list .item {
  margin-bottom: 20px;
}
.member_info_page .list .item .top {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}
.member_info_page .list .item .top .item {
  flex: 0 0 33.33%;
  padding: 0 10px;
  margin-bottom: 10px;
}

.member_info_page .list .item .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.member_info_page .list .item .table .thead {
  display: flex;
}
.member_info_page .list .item .table .thead .th {
  flex: 1;
  border: 1px solid #000;
  border-right: none;
  padding: 5px;
}
.member_info_page .list .item .table .thead .th:last-child {
  border-right: 1px solid #000;
}
.member_info_page .list .item .table .tbody .tr {
  display: flex;
}
.member_info_page .list .item .table .tbody .tr .td {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  padding: 5px;
  word-break: break-all;
}
.member_info_page .list .item .table .tbody .tr .td.column {
  flex-direction: column;
  justify-content: center;
}
.member_info_page .list .item .table .tbody .tr .td:last-child {
  border-right: 1px solid #000;
}
.member_info_page .list .item .table .tbody .tr .td img {
  max-height: 30px;
}
.member_info_page .list .item .table .tbody .tr .td input {
  width: 100%;
  flex: 1;
}
.member_info_page .list .item .table .tbody .tr .td select {
  width: 100%;
  flex: 1;
}
.member_info_page .list .item .table .tbody .tr .td.column button {
  outline: none;
  border: none;
  background-color: #5a5a5a;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.member_info_page .list .item .table .tbody .tr .td.column button:last-child {
  margin-bottom: 0;
}
.member_info_page .list .item .table .tbody .tr .td .tgroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 -5px;
}
.member_info_page .list .item .table .tbody .tr .td .tgroup .t_item {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #000;
}
.member_info_page .list .item .table .tbody .tr .td .tgroup .t_item:last-child {
  border-bottom: none;
}

/*明細*/
.member_info_page .list .item .detail {
  border: 1px solid #000;
  display: none;
}
.member_info_page .list .item.open .detail {
  display: block;
  border-bottom: none;
}
.member_info_page .list .item .detail .form .top_title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #000;
}
.member_info_page .list .item .detail .form .head {
  display: flex;
  border-bottom: 1px solid #000;
}
.member_info_page .list .item .detail .form .head .th {
  flex: 1;
  text-align: center;
  border-right: 1px solid #000;
  padding: 5px;
}
.member_info_page .list .item .detail .form .head .th:last-child {
  border-right: none;
}
.member_info_page .list .item .detail .form .body {
  border-bottom: 1px solid #000;
}
.member_info_page .list .item .detail .form .body .tr {
  display: flex;
  border-bottom: 1px solid #000;
}
.member_info_page .list .item .detail .form .body .tr:last-child {
  border-bottom: none;
}
.member_info_page .list .item .detail .form .body .tr .td {
  flex: 1;
  text-align: center;
  border-right: 1px solid #000;
  padding: 5px;
}
.member_info_page .list .item .detail .form .body .tr .td.right {
  text-align: right;
}
.member_info_page .list .item .detail .form .body .tr .td:last-child {
  border-right: none;
}
.member_info_page .list .item .detail .form .body .tr .td img {
  max-width: 50px;
}

.member_info_page .list .item .detail .form .foot {
  border-bottom: 1px solid #000;
}
.member_info_page .list .item .detail .form .foot .tr {
  display: flex;
  border-bottom: 1px solid #000;
}
.member_info_page .list .item .detail .form .foot .tr:last-child {
  border-bottom: none;
}
.member_info_page .list .item .detail .form .foot .tr .td {
  border-right: 1px solid #000;
  padding: 5px;
  display: flex;
  justify-content: center;
  min-height: 34px;
}
.member_info_page .list .item .detail .form .foot .tr .td.right {
  justify-content: flex-end;
}
.member_info_page .list .item .detail .form .foot .tr .td.no_padding {
  padding: 0;
}
.member_info_page .list .item .detail .form .foot .tr .td:last-child {
  border-right: none;
}
.member_info_page .list .item .detail .form .foot .tr .td:nth-child(1) {
  flex: 0 0 25%;
}
.member_info_page .list .item .detail .form .foot .tr .td:nth-child(2) {
  flex: 0 0 50%;
}
.member_info_page .list .item .detail .form .foot .tr .td:nth-child(3) {
  flex: 0 0 25%;
}
.member_info_page .list .item .detail .form .foot .tr .td .s_td {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #000;
}
.member_info_page .list .item .detail .form .foot .tr .td .s_td:last-child {
  border-right: none;
}
.member_info_page .list .item .detail .form .payment {
  display: flex;
  border-bottom: 1px solid #000;
}
.member_info_page .list .item .detail .form .payment .p_item {
  flex: 1;
  border-right: 1px solid #000;
  padding: 5px;
  text-align: center;
}
.member_info_page .list .item .detail .form .payment .p_item:last-child {
  border-right: none;
}
.member_info_page .list .item .detail .form .payment .p_item span {
  cursor: pointer;
}
.member_info_page .list .item .detail .form .payment .p_item span:hover {
  opacity: 0.8;
}

.member_info_page .list .item .payment_info {
  margin-top: 40px;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
}
.member_info_page .list .item .payment_info .payment_item {
  flex: 0 0 50%;
  padding: 0 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.member_info_page .list .item .payment_info .payment_item.full {
  flex: 0 0 100%;
}
.member_info_page .list .item .payment_info .payment_item label {
  flex: 0 0 70px;
  text-align: right;
  margin-right: 10px;
}
.member_info_page .list .item .payment_info .payment_item input {
  flex: 0 0 calc(100% - 80px);
  max-width: 100%;
  padding: 5px 15px;
  border-radius: 50px;
  outline: none;
  border: 1px solid #000;
}
