@import url(./common.css);

.buy_list {
}
.buy_list .list {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}
.buy_list .list .item {
  flex: 0 0 25%;
  padding: 0 10px;
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.buy_list .list .item:hover {
  opacity: 0.8;
}
.buy_list .list .item img {
  margin-bottom: 10px;
  width: 100%;
}
.buy_list .list .item .price {
  text-align: right;
}
@media (max-width: 1200px) {
  .buy_list .list .item {
    flex: 0 0 50%;
  }
}

.buy_info {
}
.buy_info .top {
  display: flex;
  margin-bottom: 30px;
}
.buy_info .top .image {
  flex: 0 0 400px;
  margin-right: 50px;
}
.buy_info .top .image img {
  width: 100%;
  margin-bottom: 20px;
}
.buy_info .top .image .img_list {
  display: flex;
  align-items: center;
  margin: 0 -5px;
}
.buy_info .top .image .img_list .item {
  flex: 0 0 25%;
  padding: 0 5px;
  cursor: pointer;
}
.buy_info .top .image .img_list .item:hover {
  opacity: 0.8;
}
.buy_info .top .image .img_list .item .img {
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
}
.buy_info .top .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buy_info .top .text .name {
  font-size: 1.5rem;
}
.buy_info .top .text .price {
  text-align: right;
  font-size: 1.5rem;
}
.buy_info .top .text .text_bottom{
  max-width: 500px;
  margin-left: auto;
}
.buy_info .top .text .qty {
  display: flex;
  margin-bottom: 20px;
}
.buy_info .top .text .qty .plus,
.buy_info .top .text .qty .minus {
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buy_info .top .text .qty .plus:hover,
.buy_info .top .text .qty .minus:hover {
  opacity: 0.8;
}
.buy_info .top .text .qty input[type='number'] {
  height: 40px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  flex: 1;
  text-align: center;
  padding: 5px;
  outline: none;
}
.buy_info .top .text .buy_btn {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  background-color: #00c473;
  color: #fff;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
}
.buy_info .top .text .buy_btn:hover {
  opacity: 0.8;
}
.buy_info .bottom .title {
  display: inline-block;
  border-bottom: 1px solid #000;
  padding: 0 10px 2px 10px;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.buy_info .bottom .pro_desc img {
  max-width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  .buy_info .top {
    flex-wrap: wrap;
  }
  .buy_info .top .image {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .buy_info .top .text {
    flex: 0 0 100%;
  }
  .buy_info .top .text .text_bottom{
    max-width: 100%;
    margin-left: 0;
  }
}
