@import url(./common.css);

.regist_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.regist_page .title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .regist_page {
    padding: 0 15px 20px 15px;
  }
  .regist_page .title {
    font-size: 1.25rem;
  }
}
